:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #f3aa21;
  --logo-text-color: #000000;
  --secondary-text-color: #757575;
}
body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* #FFFFFF */
/*   */
/* вторичный #757575*/

/*акцент */

/*футер color: rgba(255, 255, 255, 0.6)* /

/*background: #FFFFFF;*/
/*background: #F5F4FA;*/
/*футер background: #2F303A;*/

.page-header {
}
/*разобраться*/
.logo {
  color: var(--accent-color);
  color: var(--logo-text-color);
}
/*Site-nav*/
ul {
  list-style: none;
  text-decoration: none;
}
.site-nav {
  display: flex;
}
.site-nav .link {
  display: flex;
  color: var(--primary-text-color);
}

.contacts .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}

.hero {
  width: 1600px;
  height: 600px;
  background-color: rgb(235, 190, 190); /*поменять на фото в ДЗ3*/
}
.hero-title {
  color: var(--hero-text-color);

  text-align: center;
}
.hero-btn {
  color: var(--accent-color);
  position: absolute;
}

.section-title {
  color: var(--primary-text-color);
}

.feature-list.title {
  color: var(--primary-text-color);
}

.title-item {
  color: var(--secondary-text-color);
}
