:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}
body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* #FFFFFF */
/*   */
/* вторичный #757575*/

/*акцент */

/*футер color: * /

/*background: #FFFFFF;*/
/*background: #F5F4FA;*/
/*футер background: #2F303A;*/

.page-header {
}

/*разобраться*/
.logo-part1 {
  color: var(--accent-color);
}
.logo-part2 {
  color: var(--logo-text-color);
}

/*Site-nav*/
ul {
  list-style: none;
  text-decoration: none;
}
.site-nav {
  display: flex;
}
.site-nav .link {
  display: flex;
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.contacts .link {
  color: var(--secondary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.hero {
  width: 1600px;
  height: 600px;
  background-color: rgb(235, 190, 190); /*поменять на фото в ДЗ3*/
}
.hero-title {
  color: var(--hero-text-color);

  text-align: center;
}
.hero-btn {
  color: var(--accent-color);
  position: absolute;
}

.section-title {
  color: var(--primary-text-color);
}

.feature-list.title {
  color: var(--primary-text-color);
}

.title-item {
  color: var(--secondary-text-color);
}

/*Button*/
.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
.address {
  font-style: inherit;
}
